{% load static %}

<div class="item">
    <a href="{% url 'index' %}" class="ui medium image">
        <img src="{% static 'core/images/logo/logo-transp-bg.svg' %}">
    </a>
</div>
<div class="right menu">

    <a class="item">
        <i class="search primary large icon"></i>
    </a>

    {% if user.is_authenticated %}

        <a class="item">
            <i class="bell primary large icon"></i>
        </a>

        <a class="item">
            <i class="bookmark primary large icon"></i>
        </a>

        <a class="item">
            <i class="pencil primary large icon"></i>
        </a>

        <div class="item">

            <div class="ui black icon top right labeled pointing dropdown" id="user_profile_menu">

                {% include 'profiles/includes/avatar/avatar_menu.html' %}
                <i class="ui primary dropdown icon"></i>

                <div class="ui vertical menu">

                    <a class="item" href="{% url 'profile' user.username %}">

                        <div class="ui list">
                            <div class="item">
                                {% include 'profiles/includes/avatar/avatar_menu.html' %}
                                <div class="content">
                                    <span class="ui grey text">Singed in as </span>
                                    <div class="ui fitted divider hidden"></div>
                                    <span class="ui primary text">@{{ user.username }}</span>
                                </div>
                            </div>
                        </div>

                    </a>

                    <a class="item" href="{% url 'profile_tab' user.username 'posts' %}">
                        <i class="pencil icon"></i>
                        <span>Your posts</span>
                    </a>

                    <a class="item" href="{% url 'profile_tab' user.username 'comments' %}">
                        <i class="comments icon"></i>
                        <span>Your comments</span>
                    </a>

                    <a class="item" href="{% url 'profile_settings' user.username %}">
                        <i class="setting icon"></i>
                        <span>Settings</span>
                    </a>

                    <a class="item" href="{% url 'logout' %}">
                        <i class="sign out icon"></i>
                        <span>Sign out</span>
                    </a>

                </div>

            </div>

        </div>

    {% else %}

        <div class="item">
            <a class="ui primary basic button" href="{% url 'login' %}">
                Log in
            </a>
        </div>

        <div class="item">
            <a class="ui primary button">
                Sing up
            </a>
        </div>

    {% endif %}

</div>

<script type="text/javascript" src="{% static 'core/js/menu.js' %}"></script>