{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>

</head>
<body>
<div class="ui grid">

    <div class="black row">

        <div class="left floated left aligned three wide column">
            <div class="ui tiny search">
                <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="Search countries...">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
        </div>

        <div class="right floated right aligned three wide column">

            <div class="ui horizontal list">

                <div class="item">
                    <button class="circular ui icon black button">
                        <i class="bell icon"></i>
                    </button>
                </div>
                <div class="item">
                    <button class="circular ui icon black button">
                        <i class="pencil icon"></i>
                    </button>
                </div>
                <div class="item">

                    <div class="ui inline dropdown">
                        <div class="text">

                            <button class="ui tertiary blue button">
                                <i class="ui circular inverted user blue icon"></i>
                                {#                                   Scronullik#}
                                <i class="ui dropdown icon"></i>
                            </button>
                        </div>
                        <div class="menu">
                            {#                            <div class="item">#}
                            {#                            <div class="row"></div>#}

                            <div class="sub header">
                                <i class="ui circular inverted user blue large icon"></i> Scronullik
                            </div>
                            {#                            </div>#}
                            <div class="ui divider"></div>
                            <div class="item">
                                <i class="user icon"></i>
                                <span>Profile</span>
                            </div>
                            <div class="item">
                                <i class="sign out icon"></i>
                                <span>Sign out</span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <div class="row">
        <div class="sixteen wide column">
            <div class="ui horizontal list">
                {% for category in categories %}
                    <div class="item">
                        <button class="ui primary tertiary button">{{ category.name }}</button>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
    <div class="row">
        <div class="ui container">
            <div class="ui segments">
                <div class="ui raised segment">
                    <h2 class="ui header">
                        Which investment project should my company choose?
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(
        function () {

            $('.ui.search').search({
                source: [
                    {title: 'Andorra'},
                    {title: 'United Arab Emirates'},
                    {title: 'Afghanistan'},
                    {title: 'Antigua'},
                    {title: 'Anguilla'},
                    {title: 'Albania'},
                    {title: 'Armenia'},
                    {title: 'Netherlands Antilles'},
                    {title: 'Angola'},
                    {title: 'Argentina'},
                    {title: 'American Samoa'},
                    {title: 'Austria'},
                    {title: 'Australia'},
                    {title: 'Aruba'},
                    {title: 'Aland Islands'},
                    {title: 'Azerbaijan'},
                    {title: 'Bosnia'},
                    {title: 'Barbados'},
                    {title: 'Bangladesh'},
                    {title: 'Belgium'},
                    {title: 'Burkina Faso'},
                    {title: 'Bulgaria'},
                    {title: 'Bahrain'},
                    {title: 'Burundi'}]
            });

            $('.ui.inline.dropdown').dropdown({action: 'select'});
        }
    );

</script>
</body>
</html>