{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>




    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.min.css' %}">
    <script src="{% static 'semantic/semantic.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"> <!-- Style setting -->

</head>
<body >

<div class="ui black attached inverted secondary menu">
    <div class="ui container">
        <div class="item">
            <a href="{% url 'index' %}" class="ui medium image">
                <img src="{% static 'images/logo/logo-transp-bg.svg' %}">
            </a>
        </div>
        <div class="right menu">

            <div class="item">

                <i class="large icons">
                    <i class="big black circle outline icon"></i>
                    <i class="search primary link icon"></i>
                </i>

                <i class="large icons">
                    <i class="big black circle outline icon"></i>
                    <i class="bell primary link icon"></i>
                </i>
                <i class="large icons">
                    <i class="big black circle outline icon"></i>
                    <i class="pencil primary link icon"></i>
                </i>

                <i class="large icons">
                    <i class="big black circle outline icon"></i>
                    <i class="bookmark primary link icon"></i>
                </i>


                <div class="ui inline dropdown">
                    <div class="text">

                        <button class="ui tertiary primary button">
                            <i class="ui circular inverted user primary icon"></i>
                            {#                                Scronullik#}
                            <i class="ui dropdown icon"></i>
                        </button>
                    </div>
                    <div class="menu">
                        <div class="item">
                            <i class="user icon"></i>
                            <span>Profile</span>
                        </div>
                        <div class="item">
                            <i class="sign out icon"></i>
                            <span>Sign out</span>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="ui attached vertical basic segment">
    <div class="ui grid container">

        <div class="ui eleven wide column">

            <div class="ui vertical basic segment">

                <div class="ui vertical basic segment container">
                    <div class="ui primary secondary pointing menu">
                        <a class="item">
                            My choices
                        </a>
                        <a class="active item">
                            All
                        </a>

                        {% for index, name in categories %}
                            <a class="item">
                                {{ name }}
                            </a>
                        {% endfor %}
                    </div>

                    <div class="ui tiny pagination menu">
                        <a class="item">
                            Day
                        </a>
                        <a class="primary active item">
                            Week
                        </a>
                        <a class="item">
                            Month
                        </a>
                        <a class="item">
                            Year
                        </a>
                    </div>

                    <div class="ui right floated tiny pagination menu">
                        <a class="primary active item">
                            Any rating
                        </a>
                        <a class="item">
                            <i class="grey greater than equal icon"></i>10
                        </a>
                        <a class="item">
                            <i class="grey greater than equal icon"></i>25
                        </a>
                        <a class="item">
                            <i class="grey greater than equal icon"></i>50
                        </a>
                        <a class="item">
                            <i class="grey greater than equal icon"></i>75
                        </a>
                        <a class="item">
                            <i class="grey greater than equal icon"></i>80
                        </a>
                        <a class="item">
                            <i class="grey greater than equal icon"></i>90
                        </a>
                    </div>
                </div>

                <div class="ui vertical basic segment container">

                    <div class="ui one basic cards">
                        {% for post in posts %}

                            <div class="ui card" >
                                <div class="content">
                                    <div class="right floated meta">
                                        <span class="date">{{ post.date|date:"F d, Y \a\t h:i A" }}</span>
                                    </div>
                                    <a class="ui basic image label">
                                        <img src="{{ post.user.image.url }}">
                                        {{ post.user.name }} (@{{ post.user.username }})
                                    </a>
                                    <a class="primary header" style="margin-top: 0.5em;">{{ post.title }}</a>
                                    <div class="left floated meta" style="margin-top: 0.5em;">

                                        {% regroup tags by post_id as post_tags_list %}

                                        {% for post_id, post_tags in post_tags_list %}
                                            {% if post_id == post.pk %}

                                                {% for tag in post_tags %}

                                                    {% if forloop.last %}
                                                        <a>{{ tag.name }}</a>
                                                    {% else %}
                                                        <a style="margin-right: 0;">{{ tag.name }}</a><span style="margin-right: 0;">,</span>
                                                    {% endif %}

                                                {% endfor %}

                                            {% endif %}
                                        {% endfor %}

                                    </div>
                                </div>
                                {% if post.feed_cover %}
                                    <div class="image" style="margin-top: 0.5em;">
                                        {% if post.feed_cover_caption %}
                                            <figure class="">
                                                <img src="{{ post.feed_cover }}" class="ui centered massive image"/>
                                                <figcaption class=""><i class="ui centered text">{{ post.feed_cover_caption }}</i></figcaption>
                                            </figure>
                                        {% else %}
                                            <img src="{{ post.feed_cover }}" class="ui centered massive image"/>
                                        {% endif %}

                                    </div>
                                {% endif %}
                                <div class="content" style="padding-top: 0.5em;">
                                    <div class="description">
                                        {{ post.feed_article_preview|safe }}
                                    </div>
                                </div>
                                <div class="extra content">
                                    <button class="ui primary left floated basic button">{{ post.feed_read_more_button_name }}</button>
                                </div>

                            </div>
                        {% endfor %}

                    </div>
                </div>

                <div class="ui stripe vertical basic segment container">
                    <div class="ui left floated tiny pagination menu">
                        <a class="item">
                            <i class="angle double left icon"></i>
                        </a>
                        <a class="item">
                            <i class="angle left icon"></i>
                        </a>
                        <a class="item">
                            1
                        </a>
                        <a class="item">
                            2
                        </a>
                        <a class="primary active item">
                            3
                        </a>
                        <a class="item">
                            4
                        </a>
                        <a class="item">
                            5
                        </a>
                        <div class="disabled item">
                            ...
                        </div>
                        <a class="item">
                            78
                        </a>
                        <a class="item">
                            <i class="angle right icon"></i>
                        </a>
                        <a class="item">
                            <i class="angle double right icon"></i>
                        </a>
                    </div>
                </div>

                <div class="ui right rail">
                    <div class="ui raised segment">
                        <div class="ui link list">
                            {% for index, name in categories %}
                                <div class="item">
                                    {#                                <button class="ui primary tertiary button">{{ name }}</button>#}
                                    <a>{{ name }}</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<footer class="ui inverted black vertical footer segment" >
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                {#                <h4 class="ui inverted header">Acrtions</h4>#}
                <h4 class="ui inverted header">Quick Links</h4>
                <div class="ui inverted link list">
                    <div class="item">
                        <a>Create post</a>
                    </div>
                    <div class="item">
                        <a>Bookmarks</a>
                    </div>
                    <div class="item">
                        <a>Profile</a>
                    </div>
                    <div class="item">
                        <a>Settings</a>
                    </div>
                </div>
            </div>
            {#            <div class="three wide column">#}
            {#                <h4 class="ui inverted header">Your account</h4>#}
            {#                <div class="ui inverted link list">#}
            {#                    <div class="item">#}
            {#                        <a>Profile</a>#}
            {#                    </div>#}
            {#                    <div class="item">#}
            {#                        <a>Settings</a>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
            <div class="three wide column">
                <h4 class="ui inverted header">Info</h4>
                <div class="ui inverted link list">
                    <div class="item">
                        <a>Contact us</a>
                    </div>
                    <div class="item">
                        <a>About</a>
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Follow Us</h4>
                <div class="ui inverted horizontal list">
                    <div class="item">
                        <button class="ui circular facebook icon button">
                            <i class="facebook icon"></i>
                        </button>
                    </div>
                    <div class="item">
                        <button class="ui circular instagram icon button">
                            <i class="instagram icon"></i>
                        </button>
                    </div>
                    <div class="item">
                        <button class="ui circular twitter icon button">
                            <i class="twitter icon"></i>
                        </button>
                    </div>
{#                    <div class="item">#}
{#                        <i class="big icons">#}
{#                            <i class="big black circle outline icon"></i>#}
{#                            <i class="facebook primary link icon"></i>#}
{#                        </i>#}
{#                    </div>#}
{#                    <div class="item">#}
{#                        <i class="big icons">#}
{#                            <i class="big black circle outline icon"></i>#}
{#                            <i class="instagram primary link icon"></i>#}
{#                        </i>#}
{#                    </div>#}
{#                    <div class="item">#}
{#                        <i class="big icons">#}
{#                            <i class="big black circle outline icon"></i>#}
{#                            <i class="twitter primary link icon"></i>#}
{#                        </i>#}
{#                    </div>#}
                </div>
            </div>
            <div class="four wide column">

                {#                      <a href="{% url 'index' %}" class="ui medium image">#}
                {#                          <img src="{% static 'images/logo/logo-transp-bg.svg' %}">#}
                {#                      </a>#}
                <p>© 2020 - {% now "Y" %} WhatYouKnow</p>
                <p>This site is made by Scronullik</p>
            </div>
        </div>
    </div>
</footer>


<script>

    $(document).ready(
        function () {

            $('.ui.search').search({
                source: [
                    {title: 'Andorra'},
                    {title: 'United Arab Emirates'},
                    {title: 'Afghanistan'},
                    {title: 'Antigua'},
                    {title: 'Anguilla'},
                    {title: 'Albania'},
                    {title: 'Armenia'},
                    {title: 'Netherlands Antilles'},
                    {title: 'Angola'},
                    {title: 'Argentina'},
                    {title: 'American Samoa'},
                    {title: 'Austria'},
                    {title: 'Australia'},
                    {title: 'Aruba'},
                    {title: 'Aland Islands'},
                    {title: 'Azerbaijan'},
                    {title: 'Bosnia'},
                    {title: 'Barbados'},
                    {title: 'Bangladesh'},
                    {title: 'Belgium'},
                    {title: 'Burkina Faso'},
                    {title: 'Bulgaria'},
                    {title: 'Bahrain'},
                    {title: 'Burundi'}]
            });

            $('.ui.inline.dropdown').dropdown({action: 'select'});
        }
    );

</script>
</body>
</html>