{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"> <!-- Style setting -->


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>

</head>
<body>

<div class="ui black inverted secondary mini menu">

    {#            <div class="item">#}
    <a class="item">
        my tape
    </a>
    <a class="active item">
        all streams
    </a>

    {% for category in categories %}
        <a class="item">
            {#                        <button class="ui primary tertiary button">#}
            {{ category.name|lower }}
            {#                        </button>#}
        </a>
    {% endfor %}
    {#            </div>#}
    <div class="right menu">

        <div class="item">

            <div class="ui tiny search">
                <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="Search countries...">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
        </div>
        <div class="item">

            <button class="circular ui icon black button">
                <i class="bell icon"></i>
            </button>
        </div>
        <div class="item">

            <button class="circular ui icon black button">
                <i class="pencil icon"></i>
            </button>
        </div>

        <div class="item">


            <div class="ui inline dropdown">
                <div class="text">

                    <button class="ui tertiary blue button">
                        <i class="ui circular inverted user blue icon"></i>
                        Scronullik
                        <i class="ui dropdown icon"></i>
                    </button>
                </div>
                <div class="menu">
                    {#                                                        <div class="item">#}
                    {#                                                        <div class="row"></div>#}

                    {#                            <div class="sub header">#}
                    {#                                <i class="ui circular inverted user blue large icon"></i> Scronullik#}
                    {#                            </div>#}
                    {#                                                        </div>#}
                    {#                            <div class="ui divider"></div>#}
                    <div class="item">
                        <i class="user icon"></i>
                        <span>Profile</span>
                    </div>
                    <div class="item">
                        <i class="sign out icon"></i>
                        <span>Sign out</span>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="ui hidden divider"></div>

<div class="ui grid container">

    {#        <div class="eight wide centered column">#}
    <div class="twelve wide column">

        <div class="ui segment">
            {#            <div class="ui left rail">#}

            {% for post in posts %}
                {#                    <div class="ui piled segment">#}
                <div class="ui padded grid">
                    {##}
                    <div class="row">
                        {#                        <div class="ui list">#}
                        {#                            <div class="item">#}

                        <a class="ui primary horizontal label">{{ post.user.name }} (@{{ post.user.username }})</a>
                        <label>{{ post.date }}</label>
                        {#                            </div>#}
                        {#                            <div class="item">#}
                        {#                            </div>#}
                        {#                        </div>#}
                        {#                        <div class="ui hidden divided"></div>#}
                    </div>

                    <div class="row">


                        <div class="ui list">
                            <div class="item">

                                <h1 class="ui header">{{ post.title }}</h1>

                                {#                        <div class="ui hidden divided"></div>#}

                            </div>
                            <div class="item">
{#                                <div class="ui tag labels">#}
                                    {% for tag in tags %}
                                        {% if tag.post_id == post.pk %}
                                            <a href="#" class="ui basic label">{{ tag.name }}</a>
                                        {% endif %}
                                    {% endfor %}
{#                                </div>#}
                            </div>
                        </div>
                    </div>
                    <div class="row">
{#                        <img src="{{ post.image.url }}" class="ui fluid image">#}
{#                        <div class="ui text">#}
                        <div>
                            {% if post.feed_cover %}

                                {% if post.feed_cover_caption %}
                                    <div align="center">
                                        <figure class="">
                                            <img style="width: 50%;" src="{{ post.feed_cover }}">
    {#                                        <img src="{{ post.feed_cover }}" class="ui massive image"/>#}
                                        <figcaption class=""><i>{{ post.feed_cover_caption }}</i></figcaption>
                                        </figure>
                                    </div>
                                {% else %}
                                    <p align="center"><img style="width: 50%;" src="{{ post.feed_cover }}"></p>
                                {% endif %}

                            {% endif %}
                            {% if post.feed_article_preview %}
                                {{ post.feed_article_preview|safe }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <button class="ui blue basic button">{{ post.feed_read_more_button_name }}</button>
                    </div>

                </div>
                {% if not forloop.last %}

                    <div class="ui divider"></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="four wide column">
        <div class="ui segment">
            <div class="ui list">
                {% for category in categories %}
                    <div class="item">
                        <button class="ui primary tertiary button">{{ category.name }}</button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{#    </div>#}
{#</div>#}
</div>




<script>

    $(document).ready(
        function () {

            $('.ui.search').search({
                source: [
                    {title: 'Andorra'},
                    {title: 'United Arab Emirates'},
                    {title: 'Afghanistan'},
                    {title: 'Antigua'},
                    {title: 'Anguilla'},
                    {title: 'Albania'},
                    {title: 'Armenia'},
                    {title: 'Netherlands Antilles'},
                    {title: 'Angola'},
                    {title: 'Argentina'},
                    {title: 'American Samoa'},
                    {title: 'Austria'},
                    {title: 'Australia'},
                    {title: 'Aruba'},
                    {title: 'Aland Islands'},
                    {title: 'Azerbaijan'},
                    {title: 'Bosnia'},
                    {title: 'Barbados'},
                    {title: 'Bangladesh'},
                    {title: 'Belgium'},
                    {title: 'Burkina Faso'},
                    {title: 'Bulgaria'},
                    {title: 'Bahrain'},
                    {title: 'Burundi'}]
            });

            $('.ui.inline.dropdown').dropdown({action: 'select'});
        }
    );

</script>
</body>
</html>