{% extends 'core/base.html' %}
{% load custom %}

{% block menu %}
    {% include 'includes/menu.html' %}
{% endblock %}


{% block roof %}

{% endblock %}


{% block content %}

    {#    {% get_comment_count for post as comment_count %}#}

    <div class="ui grid">

        <div class="row">
            <div class="ui list">

                <div class="item">
                    <div class="ui horizontal list">
                        <div class="link item">
                            <a class="ui basic image label">
                                <img src="{{ post.user.image.url}}">
                                {{ post.user.name }}
                                <div class="detail">@{{ post.user.username }}</div>
                            </a>
                        </div>
                        <div class="item">
                            <span class="ui grey text">{{  post.publish|datetime_format }}</span>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <h2 class="ui header">{{ post.title }}</h2>
                </div>

                <div class="item">

                    <div class="ui horizontal link list">

                        {% for tag in tags %}

                            <div class="item">
                                {% if forloop.last %}
                                    <a>{{ tag.name }}</a>
                                {% else %}
                                    <a style="margin-right: 0;">{{ tag.name }}</a><span style="margin-right: 0;">,</span>
                                {% endif %}
                            </div>
                        {% endfor %}

                    </div>

                </div>
            </div>
        </div>



        {#        <div class="bottom aligned row">#}
        {#            #}
        {#                    <img class="ui avatar image" src="{{ post.user.image.url }}">#}
        {#                    <div class="content">#}
        {#                        <div class="header">{{ post.user.name }}</div>#}
        {#                        <span class="ui grey text">(@{{ post.user.username }})</span>#}
        {#                    </div>#}
        {#                    <span class="ui grey text">{{  post.publish|datetime_format }}</span>#}
        {#        </div>#}
        {##}
        {#    <div class="top aligned row">#}
        {#                    <h2 class="ui header">{{ post.title }}</h2>#}
        {#    </div>#}
        {##}
        {#    <div class="top aligned row">#}
        {#                    <div class="ui horizontal link list">#}
        {##}
        {#                        {% for tag in tags %}#}
        {##}
        {#                            <div class="item">#}
        {#                                {% if forloop.last %}#}
        {#                                    <a>{{ tag.name }}</a>#}
        {#                                {% else %}#}
        {#                                    <a style="margin-right: 0;">{{ tag.name }}</a><span style="margin-right: 0;">,</span>#}
        {#                                {% endif %}#}
        {#                            </div>#}
        {#                        {% endfor %}#}
        {##}
        {#                    </div>#}
        {##}
        {#    </div>#}

        {#        <div class="row">#}
        {#            <div class="ui basic segments">#}
        {#                <div class="ui segment">#}
        {#                    <img class="ui avatar image" src="{{ post.user.image.url }}">#}
        {#                    <div class="content">#}
        {#                        <div class="header">{{ post.user.name }}</div>#}
        {#                        <span class="ui grey text">(@{{ post.user.username }})</span>#}
        {#                    </div>#}
        {#                    <span class="ui grey text">{{  post.publish|datetime_format }}</span>#}
        {#                </div>#}
        {#                <div class="ui segment">#}
        {#                    <h1 class="ui header">{{ post.title }}</h1>#}
        {#                </div>#}
        {#                <div class="ui segment">#}
        {##}
        {#                    <div class="ui horizontal link list">#}
        {##}
        {#                        {% for tag in tags %}#}
        {##}
        {#                            <div class="item">#}
        {#                                {% if forloop.last %}#}
        {#                                    <a>{{ tag.name }}</a>#}
        {#                                {% else %}#}
        {#                                    <a style="margin-right: 0;">{{ tag.name }}</a><span style="margin-right: 0;">,</span>#}
        {#                                {% endif %}#}
        {#                            </div>#}
        {#                        {% endfor %}#}
        {##}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}

        <div class="row">
            {{ post.text|safe }}
        </div>

        <div class="row">

            <div class="ui grid container">

                <div class="two column row">

                    <div class="column">
                        <div class="ui left floated fitted basic compact segment">
                            <div class="ui mini statistics">

                                <div class="statistic">
                                    <div class="value">
                                        33
                                    </div>
                                    <div class="label">
                                        <i class="ui fitted bookmark icon"></i>
                                        <span class="ui text">bookmarks</span>
                                    </div>
                                </div>

                                <div class="statistic">
                                    <div class="value">
                                        11336
                                    </div>
                                    <div class="label">
                                        <i class="ui fitted eye icon"></i>
                                        <span class="ui text">views</span>
                                    </div>
                                </div>

                                <div class="statistic">
                                    <div class="value">
                                        {#                                        {{ comment_count|default_if_none:0 }}#}
                                        0
                                    </div>
                                    <div class="label">
                                        <i class="ui fitted comment icon"></i>
                                        {#                                        <span class="ui text">comment{{ comment_count|default_if_none:0|pluralize }}</span>#}
                                        <span class="ui text">comments</span>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="column">

                        <div class="ui right floated fitted basic compact segment">
                            <div class="ui primary horizontal statistic">
                                <div class="value">
                                    8.7
                                </div>
                                <div class="label">
                                    <div class="ui primary huge rating"></div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>

        <div class="row">
            <div class="ui container">
                <div class="ui right floated fitted basic compact segment">
                    <div class="ui horizontal link list">
                        <div class="item">
                            <i class="ui huge primary bookmark link icon"></i>
                        </div>
                        <div class="item">
                            <i class="ui huge primary share link icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="ui vertically divided aligned grid container">

                <div class="row">
                    <div class="column">
                        <h2 class="ui header">About author</h2>
                    </div>
                </div>

                <div class="four column row">
                    <div class="left floated center aligned five wide column">
                        <div class="ui list">
                            <div class="item">
                                <img class="ui small centered circular image" src="{{ post.user.image.url }}">
                            </div>
                            <div class="item">
                                <div class="ui header">{{ post.user.name }}</div>
                                <span class="ui grey text">(@{{ post.user.username }})</span>
                            </div>
                            {% if post.user.specialization %}
                                <div class="item">
                                    <span class="ui black text">{{ post.user.specialization }}</span>
                                </div>
                            {% endif %}
                        </div>

                    </div>
                    <div class="right floated left aligned eleven wide column">
                        <div class="ui small statistics">
                            <div class="statistic">
                                <div class="value">
                                    13
                                </div>
                                <div class="label">
                                    <i class="ui pencil icon"></i>
                                    <span>posts</span>
                                </div>
                            </div>
                            <div class="statistic">
                                <div class="value">
                                    9.1
                                </div>
                                <div class="label">
                                    <i class="ui star icon"></i>
                                    <span>avg. rating</span>
                                </div>
                            </div>
                            <div class="statistic">
                                <div class="value">
                                    1121
                                </div>
                                <div class="label">
                                    <i class="ui comment icon"></i>
                                    <span>comments</span>
                                </div>
                            </div>
                        </div>
                        <div class="ui divider hidden"></div>
                        <div><span class="ui black text">{{ post.user.description }}</span></div>
                    </div>
                </div>

            </div>

        </div>

        {#        {% if post.allow_comments %}#}
        <div class="row">
            {#            {% render_comment_form for post %}#}
        </div>
        {#        {% endif %}#}

        <div class="row">
            {% include 'comment_list.html' %}
        </div>



    </div>

{% endblock %}


{% block floor %}

{% endblock %}


{% block rail %}
    {% include 'includes/rail.html' %}
{% endblock %}


{% block script %}

    <script type="text/javascript">

        $(document).ready(
            function () {
                $('.rating').rating({
                    {#icon: 'star',#}
                    initialRating: 0,
                    maxRating: 10
                });
            }
        );

    </script>

{% endblock %}