{% extends 'base.html' %}
{% load custom %}
{% load comments %}

{% block menu %}
    {% include 'includes/menu.html' %}
{% endblock %}


{% block roof %}

{% endblock %}


{% block content %}

    {#    {% get_comment_count for post as comment_count %}#}

    <div class="ui grid">

        <div class="row">
            <div class="ui list">

                <div class="item">
                    <div class="ui horizontal link list">
                        <a class="item">
                            <img class="ui avatar image" src="{{ post.user.image.url }}">
                            <div class="content">
                                <span class="header">{{ post.user.name }}</span>
                                <span class="ui grey text">@{{ post.user.username }}</span>
                            </div>
                        </a>
                        <div class="disabled item">
                            <span class="ui grey text">{{  post.publish|datetime_format }}</span>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <h2 class="ui header">{{ post.title }}</h2>
                </div>

                <div class="item">

                    <div class="ui horizontal link list">

                        {% for tag in tags %}

                            <div class="item">
                                {% if forloop.last %}
                                    <a>{{ tag.name }}</a>
                                {% else %}
                                    <a style="margin-right: 0;">{{ tag.name }}</a><span style="margin-right: 0;">,</span>
                                {% endif %}
                            </div>
                        {% endfor %}

                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            {{ post.text|safe }}
        </div>

        <div class="row">

            <div class="ui grid container">

                <div class="two column row">

                    <div class="column">
                        <div class="ui left floated fitted basic compact segment">
                            <div class="ui grey mini statistics">

                                <div class="statistic">
                                    <div class="value">
                                        11336
                                    </div>
                                    <div class="label">
                                        <i class="ui grey fitted eye icon"></i>
                                        <span class="ui grey text">views</span>
                                    </div>
                                </div>

                                <div class="statistic">
                                    <div class="value">
                                        {#                                        {{ comment_count|default_if_none:0 }}#}
                                        0
                                    </div>
                                    <div class="label">
                                        <i class="ui grey fitted comment icon"></i>
                                        {#                                        <span class="ui text">comment{{ comment_count|default_if_none:0|pluralize }}</span>#}
                                        <span class="ui grey text">comments</span>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="column">

                        <div class="ui right floated fitted basic compact segment">
                            <div class="ui horizontal list">
                                <a class="item">
                                    <span class="ui large black text">
                                        <i class="ui thumbs up link icon"></i>
                                        13
                                    </span>
                                </a>
                                <a class="item">
                                    <span class="ui large black text">
                                        <i class="ui thumbs down link icon"></i>
                                        2
                                    </span>
                                </a>
                                <a class="item">
                                    <span class="ui large black text">
                                        <i class="ui bookmark link icon"></i>
                                        7
                                    </span>
                                </a>
                                <a class="item">
                                    <span class="ui large black text">
                                        <i class="ui share link icon"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>

        <div class="row">

            <div class="ui vertically divided aligned grid container">

                <div class="row">
                    <div class="column">
                        <h2 class="ui header">About author</h2>
                    </div>
                </div>

                <div class="four column row">
                    <div class="left floated center aligned five wide column">
                        <div class="ui link list">
                            <a class="item">
                                <img class="ui small centered circular image" src="{{ post.user.image.url }}">
                            </a>
                            <a class="item">
                                <div class="ui header">{{ post.user.name }}</div>
                                <span class="ui grey text">(@{{ post.user.username }})</span>
                            </a>
                            {% if post.user.specialization %}
                                <div class="item">
                                    <span class="ui black text">{{ post.user.specialization }}</span>
                                </div>
                            {% endif %}
                        </div>

                    </div>
                    <div class="right floated left aligned eleven wide column">
                        <div class="ui black small statistics">
                            <div class="statistic">
                                <div class="value">
                                    13
                                </div>
                                <div class="label">
                                    <i class="ui pencil icon"></i>
                                    <span>posts</span>
                                </div>
                            </div>
                            <div class="statistic">
                                <div class="value">
                                    16136
                                </div>
                                <div class="label">
                                    <i class="ui thumbs up icon"></i>
                                    <span>likes</span>
                                </div>
                            </div>
                            <div class="statistic">
                                <div class="value">
                                    1121
                                </div>
                                <div class="label">
                                    <i class="ui comment icon"></i>
                                    <span>comments</span>
                                </div>
                            </div>
                        </div>
                        <div class="ui divider hidden"></div>
                        <div><span class="ui black text">{{ post.user.description }}</span></div>
                    </div>
                </div>

            </div>

        </div>

        {#        {% if post.allow_comments %}#}
        <div class="row">
            {#            {% render_comment_form for post %}#}
        </div>
        {#        {% endif %}#}

        <div class="row">
            {% render_comments post %}
        </div>



    </div>

{% endblock %}


{% block floor %}

{% endblock %}


{% block rail %}
    {% include 'includes/rail.html' %}
{% endblock %}


{% block script %}

    <script type="text/javascript">

        $(document).ready(
            function () {
                $('.rating').rating({
                    {#icon: 'star',#}
                    initialRating: 0,
                    maxRating: 10
                });
            }
        );

    </script>

{% endblock %}