{% extends 'reg/base.html' %}
{% load i18n %}

{% block auth_title %}{% translate 'Password reset confirmation' %}{% endblock %}

{% block auth_content %}
    {% if validlink %}
        {% include 'reg/password_reset_confirm/forms/password_reset_confirm.html' %}
    {% else %}
        <span class="ui text">{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</span>
    {% endif %}
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#password_reset_confirm_form').form();
        });
    </script>
{% endblock %}