{% load thumbnail moderation %}

<div class="item">
    <a class="image" href="{% url 'post_detail' object.pk %}">
        <img src="{{ object.feed_cover|thumbnail_url:'item' }}">
    </a>
    <div class="content">
        <a class="header" href="{% url 'post_detail' object.pk %}">{{ object.title }}</a>
         <div class="meta">
            {% status_moderation %}
        </div>
        {% if object.feed_article_preview %}
            <div class="description">
                {{ object.feed_article_preview|safe }}
            </div>
        {% endif %}
        {% if user.is_authenticated and user == object.user %}
            <div class="extra">
                {% include 'blog/post/detail/buttons/edit_post.html' %}
                {% link_to_moderation extra_button_class='primary right floated basic' %}
            </div>
        {% endif %}
    </div>
</div>