{% load thumbnail %}

<div class="item">
    <a class="image" href="{% url 'post_detail' object.pk %}">
        <img src="{{ object.feed_cover|thumbnail_url:'item' }}">
    </a>
    <div class="content">
        <a class="header" href="{% url 'post_detail' object.pk %}">{{ object.title }}</a>
        <div class="description">
            {{ object.feed_article_preview }}
        </div>
        <div class="extra">
            <a class="ui right floated basic primary button" href="{% url 'post_edit' object.pk %}">
                <i class="pencil icon"></i>
                Edit
            </a>
        </div>
    </div>
</div>