<form class="ui form{% if form.non_field_errors %} error{% endif %}"
        {% block params %}
      method="get"
        {% endblock %}
>
    {% block csrf_token %}
    {% endblock %}

    {% if form.non_field_errors %}
        <div class="ui error message">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% block filler %}
        {% for field in form.visible_fields %}
            {% include 'core/forms/field.html' %}
        {% endfor %}
        {% block button %}
        {% endblock %}
    {% endblock %}

</form>