{% load static %}

<div class="ui medium centered circular image" id="avatar_file_input">
    <div class="ui dimmer">
        <div class="content">
            <h2 class="ui inverted header">
{#                {% if widget.is_initial %}#}
                    {{ widget.initial_text }}
{#                {% endif %}#}
            </h2>

            <div class="ui small primary button" id="upload_avatar_button">
                Upload
            </div>
            <input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %} style="display: None;">


            {% if not widget.required and widget.value %}
                <div class="ui {% if widget.attrs.disabled %}disabled{% endif %} small button" id="remove_avatar_button" >
                    Remove
                </div>
                <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}"{% if widget.attrs.disabled %} disabled{% endif %} style="display: None;">
            {% endif %}

        </div>
    </div>
    <img src="{{ widget.avatar_img }}">
</div>
<div class="ui mini modal" id="avatar_call_remove">
  <div class="content">
      Are you sure you want to reset your current avatar?
  </div>
  <div class="actions">
    <div class="ui cancel button">Cancel</div>
    <div class="ui primary ok button">OK</div>
  </div>
</div>
<script src="{% static 'widgets/avatar.js' %}"></script>