{% load static %}

<img class="ui small left floated circular image" src="{{ widget.avatar_img }}" id="avatar_img">
<div class="ui popup" id="edit_avatar_menu">

    <div class="ui center aligned basic fitted segment">
        {#        {% if widget.is_initial %}#}
        <div class="ui header">{{ widget.initial_text }}</div>
        {#        {% endif %}#}

        <div class="ui horizontal list">

            <div class="item">
                <div class="ui small primary button" id="upload_avatar_button">
                    Upload
                </div>
                <input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %} style="display: None;">
            </div>

            {% if not widget.required and widget.value %}
                <div class="item">
                    <div class="ui {% if widget.attrs.disabled %}disabled{% endif %} small button" id="remove_avatar_button" >
                        Remove
                    </div>
                    <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}"{% if widget.attrs.disabled %} disabled{% endif %} style="display: None;">
                </div>
            {% endif %}

        </div>
    </div>

</div>