{% load mptt_tags %}
{% load custom %}

<div class="ui vertically divided aligned grid container">

    <div class="row">
        <div class="column">
            <h2 class="ui header">Comments</h2>
        </div>
    </div>

    <div class="row">

        <div class="ui threaded comments">

            {% recursetree comments %}

                {% for node, structure in comments|tree_info  %}

                    {% if structure.new_level %}
                        {% if node.level == 1 %}
                            <div class="ui comments">
                            <div class="comment">
                        {% else %}
                            <div class="comment">
                        {% endif %}
                    {% else %}
                        </div>
                        <div class="comment">
                    {% endif %}

                    <a class="avatar">
                        <img src="{{ node.user.image.url}}">
                    </a>
                    <div class="content">
                        <a class="author">
                            @{{ node.user.username }}
                        </a>
                        <div class="metadata">
                            <span>
                                {{ node.posted|datetime_format }}
                                {% if node.posted != node.edited %}
                                    <span>(edited)</span>
                                {% endif %}
                            </span>
                            <span>id - {{ node.id }}</span>
                            <span>parent_id - {{ node.parent_id }}</span>
                        </div>
                        <div class="text">
                            {{ node.text|safe }}
                        </div>
                        <div class="actions">
                            <a class="like"><i class="thumbs up link icon"></i>13</a>
                            <a class="dislike"><i class="thumbs down link icon"></i>2</a>
                            <a class="reply">Reply</a>
                            <a class="edit">Edit</a>
                        </div>
                    </div>

                    {% for level in structure.closed_levels %}
                        {% if level == 1 %}
                            </div>
                            </div>
                        {% else %}
                            </div>
                        {% endif %}
                    {% endfor %}

                {% endfor %}

            {% endrecursetree %}

        </div>

    </div>

</div>