{% load static %}

<div class="ui vertically divided aligned grid container">

    <div class="row">
        <div class="column">
            <h2 class="ui header">
                {% with count_comments=comments.count %}
                    {% if count_comments > 1 %} {{ count_comments }} {% endif %} comment{{ count_comments|pluralize }}
                {% endwith %}
            </h2>
        </div>
    </div>

    <div class="row">
        {% include 'comment_parents_tree.html' %}
    </div>

</div>

{#<script  type="text/javascript" src="{% url 'js_reverse' %}"></script>#}
<script type="text/javascript" src="{% static 'comments.js' %}"></script>