{% load static %}


<div class="ui vertically divided aligned grid container">

    {#    <div class="row" id="comment_header_row">#}
    <div class="row">
        <div class="column">
            <h2 class="ui header">
                {% if comments_count > 1 %} {{ comments_count }} {% endif %} comment{{ comments_count|default_if_none:0|pluralize }}
            </h2>
        </div>
    </div>

    <div class="row" >
        <div class="column" id="comment_list_row">
            <!-- this will embed html via ajax code -->
        </div>
    </div>


</div>

<article id="comment_obj_info"
         data-app-label="{{ obj.app_label }}"
         data-model-name="{{ obj.model_name }}"
         data-model-pk="{{ obj.model_pk }}"
>
</article>
<article id="comment_urls"
         data-get-comment-parents-list="{% url 'comment_parents_list' %}"
         data-get-comment-children-list="{% url 'comment_children_list' %}"
        {#         data-get-comment-header="{% url 'comment_header' %}"#}
>
</article>
<script type="text/javascript" src="{% static 'comments/comments.js' %}"></script>