/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : 'whatyouknow';
@reset      : 'whatyouknow';

/* Elements */
@button     : 'whatyouknow';
@container  : 'whatyouknow';
@divider    : 'whatyouknow';
@emoji      : 'whatyouknow';
@flag       : 'whatyouknow';
@header     : 'whatyouknow';
@icon       : 'whatyouknow';
@image      : 'whatyouknow';
@input      : 'whatyouknow';
@label      : 'whatyouknow';
@list       : 'whatyouknow';
@loader     : 'whatyouknow';
@placeholder: 'whatyouknow';
@rail       : 'whatyouknow';
@reveal     : 'whatyouknow';
@segment    : 'whatyouknow';
@step       : 'whatyouknow';
@text       : 'whatyouknow';

/* Collections */
@breadcrumb : 'whatyouknow';
@form       : 'whatyouknow';
@grid       : 'whatyouknow';
@menu       : 'whatyouknow';
@message    : 'whatyouknow';
@table      : 'whatyouknow';

/* Modules */
@accordion  : 'whatyouknow';
@calendar   : 'whatyouknow';
@checkbox   : 'whatyouknow';
@dimmer     : 'whatyouknow';
@dropdown   : 'whatyouknow';
@embed      : 'whatyouknow';
@modal      : 'whatyouknow';
@nag        : 'whatyouknow';
@popup      : 'whatyouknow';
@progress   : 'whatyouknow';
@slider     : 'whatyouknow';
@rating     : 'whatyouknow';
@search     : 'whatyouknow';
@shape      : 'whatyouknow';
@sidebar    : 'whatyouknow';
@sticky     : 'whatyouknow';
@tab        : 'whatyouknow';
@toast      : 'whatyouknow';
@transition : 'whatyouknow';

/* Views */
@ad         : 'whatyouknow';
@card       : 'whatyouknow';
@comment    : 'whatyouknow';
@feed       : 'whatyouknow';
@item       : 'whatyouknow';
@statistic  : 'whatyouknow';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder   : 'site/';


/*******************************
         Import Theme
*******************************/

@import (multiple) "theme.less";

/* End Config */
