{% extends 'core/base.html' %}
{% load static %}

{% block roof %}
    <div class="ui steps">
        <div class="active step">
            <i class="pencil icon"></i>
            <div class="content">
                <div class="title">Editing</div>
            </div>
        </div>
        <div class="step">
            <i class="eye outline icon"></i>
            <div class="content">
                <div class="title">Preview</div>
            </div>
        </div>
        <div class="step">
            <i class="user secret icon"></i>
            <div class="content">
                <div class="title">Done</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="ui left floated text container">
        <div class="ui basic fitted segment"
             id="step_content"
             data-post-write-url="{% url 'post_write' %}">
        </div>
        {% include 'core/loader.html' %}
    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'blog/js/post_create.js' %}"></script>
{% endblock %}