{% extends 'core/base.html' %}
{% load core %}
{% load comments %}

{% block menu %}
    {% include 'core/includes/menu.html' %}
{% endblock %}


{% block roof %}

    <div class="ui primary secondary pointing menu">
        <a class="item">
            My choices
        </a>
        <a class="active item">
            All posts
        </a>

        {% for index, name in categories %}
            <a class="item">
                {{ name }}
            </a>
        {% endfor %}
    </div>

    <div class="ui tiny compact menu">
        <a class="item">
            Day
        </a>
        <a class="primary active item">
            Week
        </a>
        <a class="item">
            Month
        </a>
        <a class="item">
            Year
        </a>
    </div>

    <div class="ui tiny compact menu">
        <a class="primary active item">
            Any rating
        </a>
        <a class="item">
            <i class="grey greater than equal icon"></i>10
        </a>
        <a class="item">
            <i class="grey greater than equal icon"></i>25
        </a>
        <a class="item">
            <i class="grey greater than equal icon"></i>50
        </a>
        <a class="item">
            <i class="grey greater than equal icon"></i>75
        </a>
        <a class="item">
            <i class="grey greater than equal icon"></i>80
        </a>
        <a class="item">
            <i class="grey greater than equal icon"></i>90
        </a>
    </div>

{% endblock %}


{% block content %}

    <div class="ui three link cropped cards">

        {% for post in post_list %}
            <a class="ui card" href="{% url 'post_detail' post.pk %}">

                <div class="image">
                    <img src="{{ post.feed_cover }}">
                </div>

                <div class="content">

                    <div class="ui list">


                        <div class="item">
                            <div class="header">{{ post.title }}</div>
                        </div>

                        <div class="item">
                            <span class="ui grey text">
                                {{ post.feed_article_preview|safe|truncatechars:100 }}
                            </span>
                        </div>

                        <div class="right floated item">
                            <img class="ui avatar image" src="{{ post.user.avatar.crop.28x28 }}">
                            <div class="content">
                                <div class="ui black text">{{ post.user.name }}</div>
                                <span class="ui grey text">@{{ post.user.username }}</span>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="extra">
                    <div class="ui horizontal list">
                        <div class="item">
                            <span class="ui green text">
                                <i class="green plus icon"></i>
                            133</span>
                        </div>
                        <div class="item">
                            <i class="ui bookmark icon"></i>
                            7
                        </div>
                        <div class="item">
                            <i class="ui comment icon"></i>
                            {% comments_count post %}
                        </div>

                    </div>
                    <div class="right floated item">{{ post.publish|datetime_format }}</div>
                </div>

            </a>

        {% endfor %}

    </div>

{% endblock %}


{% block floor %}
    {% include 'core/includes/pagination.html' %}
{% endblock %}
