{% load static %}

<img id="image_element"
     class="ui {% if widget.img_size %}{{ widget.img_size }} {% endif %}{% if widget.img_extra_class %}{{ widget.img_extra_class }} {% endif %}{% if widget.img_type %}{{ widget.img_type }} {% endif %}image"
     src="{{ widget.img_url }}"
     data-placeholder="{{ widget.placeholder }}"
     data-required="{{ widget.required|lower }}"
>
<div class="ui popup" id="edit_image_menu">

    <div class="ui center aligned basic fitted segment">
        {% if widget.is_initial %}
            <div class="ui header">{{ widget.initial_text }}</div>
        {% endif %}

        <div class="ui horizontal list">

            <div class="item">
                <div class="ui small primary button" id="upload_image_button">
                    Upload
                </div>
                <input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %} style="display: None;">
            </div>

            {% if not widget.required %}
                <div class="item">
                    <div class="ui {% if widget.attrs.disabled %}disabled{% endif %} small button" id="remove_image_button" >
                        Remove
                    </div>
                    <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}"{% if widget.attrs.disabled %} disabled{% endif %} style="display: None;">
                </div>
            {% endif %}

        </div>
    </div>

</div>