{% extends 'core/base.html' %}

{% load static %}

{% block content %}
    <div class="ui stackable grid">

        <div class="row">

            <div class="left floated center aligned three wide column">
                <div class="ui basic fitted segment">
                    {% include 'profiles/avatar/detail.html' %}
                </div>
                <div class="ui basic fitted segment">
                                            <div class="ui mini green statistic">
                                                <div class="value">
                                                    +16136
                                                </div>
                                            </div>
                </div>
            </div>

            <div class="right floated left aligned thirteen wide column">

                <div class="ui basic fitted segment">

                    <div class="ui grid">
                        <div class="row">

                            <div class="twelve wide column">
                                <div class="ui basic fitted segment">
                                    <h2 class="ui header">{{ object.username }}</h2>
                                </div>
                            </div>

                            <div class="right aligned four wide column">
                                {% if user.username == object.username %}
                                    <a class="ui primary icon button" href="{% url 'profile_settings' object.username %}">
                                        <i class="setting icon"></i>
                                    </a>
                                {% endif %}
                            </div>

                        </div>
                    </div>

                </div>

                <div class="row">
                    {% if object.name %}
                        <div class="ui basic fitted segment">
                            <div class="ui text">{{ object.name }}</div>
                        </div>
                    {% endif %}
                    {% if object.specialization %}
                        <div class="ui basic fitted segment">
                            <div class="ui text">{{ object.specialization }}</div>
                        </div>
                    {% endif %}
                    {% if object.description %}
                        <div class="ui basic fitted segment">
                            <div class="ui text">{{ object.description }}</div>
                        </div>
                    {% endif %}
                </div>

            </div>

        </div>

        <div class="row">
            <div class="column">
                <div class="ui tabular primary secondary pointing menu"
                     id="user_profile_tab_menu"
                     data-url-ajax-profile-tab-load-data="{% url 'profile_tab_load_data' object.username %}"
                     data-current-tab="{{ current_tab }}">
                    {% for key, value in tab_header_list.items %}
                        <a class="item" data-tab="{{ key }}" id="{{ key }}" >
                            {{ key|capfirst }}
                            {% if value > 0 %}
                                ({{ value }})
                            {% endif %}
                        </a>
                    {% endfor %}
                </div>
                {% for key, value in tab_header_list.items %}
                    <div class="ui bottom attached tab segment" data-tab="{{ key }}" data-is-first-load="true" id="tab_{{ key }}">
                        {% include 'core/loader.html' %}
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'profiles/js/detail.js' %}"></script>
{% endblock %}