{% extends 'core/base.html' %}

{% load static %}

{% block content %}
    <div class="ui stackable grid">

        {% if not user.is_authenticated %}
            <div class="three column row">
                <div class="center aligned centered column">
                    <span class="ui black text">
                        You are not signed in.
                    </span>
                </div>
            </div>
        {% elif user.username != profile.username %}
            <div class="three column row">
                <div class="center aligned centered column">
                    <span class="ui black text">
                        You do not have access to this page.
                    </span>
                </div>
            </div>
        {% else %}


            <div class="row">
                <div class="column">
                    <h4 class="ui horizontal divider header">
                        Your profile
                    </h4>
                </div>
            </div>

            <div class="row">

                <div class="five wide column"
                     id="avatar_segment"
                     data-edit-avatar-url="{% url 'profile_edit_avatar' profile.username %}"
                >
                    <!-- ajax load avatar form -->
                </div>

                <div class="eleven wide column">
                    {% include 'profiles/settings/forms/edit_profile.html' %}
                </div>

            </div>

            <div class="row">
                <div class="column">
                    <h4 class="ui horizontal divider header">
                        Your feed
                    </h4>
                </div>
            </div>

            <div class="row">
                <div class="column"
                     id="feed_segment"
                     data-edit-feed-settings-url="{% url 'profile_edit_feed_settings' profile.username %}"
                     data-search-tags-url="{% url 'profile_search_tags' profile.username %}"
                >
                    <!-- ajax load feed settings form -->
                </div>
            </div>

        {% endif %}

    </div>
{% endblock %}

{% block script %}
    <script  src="{% static 'profiles/js/settings.js' %}"></script>
{% endblock %}