{% extends 'core/base.html' %}

{% load static %}

{% block menu %}
    {% include 'core/includes/menu.html' %}
{% endblock %}

{% block content %}
    <div class="ui stackable grid container">

        <div class="three column row">


            {% if not user.is_authenticated %}
                <div class="center aligned centered column">
                    <span class="ui black text">
                        You are not signed in.
                    </span>
                </div>
            {% elif user.username != profile.username %}
                <div class="center aligned centered column">
                    <span class="ui black text">
                        You do not have access to this page.
                    </span>
                </div>
            {% else %}

{#                <div class="column">#}
{#                    {% if object.image %}#}
{#                        <img class="ui huge centered circular image" src="{{ object.image.url }}">#}
{#                    {% else %}#}
{#                        <i class="ui huge inverted primary circular user icon"></i>#}
{#                    {% endif %}#}
{#                </div>#}

                <div class="column">
                    {% include 'profiles/includes/settings/profile_form.html' %}
                </div>


                <div class="right column" id="avatar_segment" data-avatar-form-url="{% url 'profile_avatar' profile.username %}">
{#                    {% include 'profiles/includes/settings/avatar_form.html' %}#}
                </div>

            {% endif %}


        </div>

    </div>
{% endblock %}

{% block script %}
        <script  src="{% static 'profiles/js/settings.js' %}"></script>
{% endblock %}