{% load core %}

<div class="ui grid">

    <div class="row">
        <div class="column">
            <div class="ui list">

                <div class="item">
                    <div class="ui horizontal link list" >
                        <a class="item" href="{% url 'profile_detail' object.user %}">
                            {% include 'profiles/avatar/author.html' %}
                            <div class="content">
                                <div class="ui header">{{ object.user.username }}</div>
                            </div>
                        </a>
                        <div class="disabled item">
                            <span class="ui grey text">
                                {% if object.published %}
                                    {{ object.published|datetime_format }}
                                {% else %}
                                    {{ object.timestamp|datetime_format }}
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <h2 class="ui header">{{ object.title }}</h2>
                </div>

                <div class="item">

                    <div class="ui horizontal link list" id="tags">

                        {% for tag in object.tags.all %}
                            <div class="item">
                                {% if forloop.last %}
                                    <a href="{% url 'search' %}" data-value="{{ tag.name }}">{{ tag.name }}</a>
                                {% else %}
                                    <a href="{% url 'search' %}" data-value="{{ tag.name }}" style="margin-right: 0;">{{ tag.name }}</a><span style="margin-right: 0;">,</span>
                                {% endif %}
                            </div>
                        {% endfor %}

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column">
            {{ object.text|safe }}
        </div>
    </div>

</div>