{% load moderation %}

<div class="ui grid">
        <div class="row">
            <div class="left aligned ten wide column">
                    <div class="ui horizontal link list" >
                        <a class="item" href="{% url 'profile_detail' object.user %}">
                            {% include 'profiles/avatar/author.html' %}
                            <div class="content">
                                <div class="ui header">{{ object.user.username }}</div>
                            </div>
                        </a>
                        <div class="disabled item">
                            <span class="ui grey text">
                                {% include 'core/date_object.html' %}
                            </span>
                            {% if object.edited_by_user %}
                                <span class="ui grey text">(edited)</span>
                            {% endif %}
                        </div>
                        {% if cur_action != 'preview' and user.is_authenticated and user == object.user %}
                            <div class="item">
                                {% status_moderation %}
                            </div>
                        {% endif %}
                    </div>
            </div>
            {% if cur_action != 'preview' and user.is_authenticated %}
                <div class="right aligned six wide column">
                    {% link_to_moderation %}
                    {% include 'blog/post/detail/buttons/edit_post.html' %}
                </div>
            {% endif %}
        </div>

    <div class="row">
        <div class="column">

            <div class="ui list">

                <div class="item">
                    <h2 class="ui header">{{ object.title }}</h2>
                </div>

                <div class="item">

                    <div class="ui horizontal link list" id="tags">

                        {% for tag in object.tags.all %}
                            <div class="item">
                                {% if forloop.last %}
                                    <a href="{% url 'search' %}" data-value="{{ tag.name }}">{{ tag.name }}</a>
                                {% else %}
                                    <a href="{% url 'search' %}" data-value="{{ tag.name }}" style="margin-right: 0;">{{ tag.name }}</a><span style="margin-right: 0;">,</span>
                                {% endif %}
                            </div>
                        {% endfor %}

                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="column">
            {{ object.text|safe }}
        </div>
    </div>

</div>