{% load core %}

<div class="ui grid">

    <div class="row">
        <div class="column">
            <div class="ui list">

                <div class="item">
                    <div class="ui horizontal link list" >
                        <a class="item" href="{% url 'profile_detail' object.user %}">
                            {% include 'profiles/avatar/author.html' %}
{#                            <span class="ui black text">{{ object.user.username }}</span>#}
                            <div class="content">
                                <div class="ui header">{{ object.user.username }}</div>
{#                                <span class="ui grey text">@{{ object.user.username }}</span>#}
                            </div>
                        </a>
                        <div class="disabled item">
                            <span class="ui grey text">{{  object.timestamp|datetime_format }}{# need pablished #}</span>
                        </div>

                    </div>
                </div>

                <div class="item">
                    <h2 class="ui header">{{ object.title }}</h2>
                </div>

                <div class="item">

                    <div class="ui horizontal link list">

                        {% for tag in object.tags.all %}

                            <div class="item">
                                {% if forloop.last %}
                                    <a>{{ tag.name }}</a>
                                {% else %}
                                    <a style="margin-right: 0;">{{ tag.name }}</a><span style="margin-right: 0;">,</span>
                                {% endif %}
                            </div>
                        {% endfor %}

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column">
            {{ object.text|safe }}
        </div>
    </div>

</div>