{% extends 'structure/base/container.html' %}
{% load static comments %}

{% block content %}

    <div class="ui text left floated container" 
        id="sub_content" 
        data-cur-url="{{ cur_url }}">

        {% include 'blog/post/detail/article.html' %}

        <div class="ui section divider"></div>

        {% include 'blog/post/detail/info.html' %}

        <div class="ui hidden divider"></div>

        {% render_comments object %}

    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'blog/post/js/detail.js' %}"></script>
{% endblock %}