{% extends 'core/containers/base.html' %}
{% load static %}

{% block roof %}
    {% include 'core/search/control_panel.html' %}
{% endblock %}

{% block content %}
    <div class="ui fitted basic segment" id="roll">
    </div>
{#    <div class="ui basic segment" id="search_results_area" data-search-selection-results-url="{% url 'search_selection_results' %}">#}
{#        <div class="ui container">#}
{#        </div>#}
{#    </div>#}
{% endblock %}
{##}
{#{% block floor %}#}
{#    <div class="ui fitted basic segment" id="roll">#}
{#    </div>#}
{#{% endblock %}#}

{% block script %}
    <script type="text/javascript" src="{% static 'core/js/urls.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/js/search.js' %}"></script>
{% endblock %}