<div class="ui stackable grid container"
     id="profile_tabs_container"
     data-url-ajax-profile-tab-data-load="{% url 'profile_tab_data_load' object.username %}"
     data-current-tab="{{ current_tab }}">

    <div class="row">
        <div class="column">

            <div class="ui tabular primary secondary pointing menu" id="user_profile_tab_menu">

                {% for key, value in tab_header_list.items %}
                    <a class="item" data-tab="{{ key }}" id="{{ key }}" >
                        {{ key|capfirst }}
                        {% if value > 0 %}
                            ({{ value }})
                        {% endif %}
                    </a>
                {% endfor %}

            </div>

        </div>
    </div>

    <div class="row">
        <div class="column">

            {% for key, value in tab_header_list.items %}
                <div class="ui tab segment" data-tab="{{ key }}" id="tab_{{ key }}">
                </div>
            {% endfor %}

        </div>
    </div>

</div>