{% load static %}

<div class="item">
    <a href="{% url 'index' %}" class="ui medium image">
        <img src="{% static 'images/logo/logo-transp-bg.svg' %}">
    </a>
</div>
<div class="right menu">

    <a class="item">
        <i class="search primary large icon"></i>
    </a>

    <a class="item">
        <i class="bell primary large icon"></i>
    </a>

    <a class="item">
        <i class="bookmark primary large icon"></i>
    </a>

    <a class="item">
        <i class="pencil primary large icon"></i>
    </a>

    <div class="item">

        <div class="ui black icon top right pointing dropdown" id="user_profile_menu">
            <i class="ui primary circular inverted user icon"></i>
            <i class="ui primary dropdown icon"></i>
            <div class="menu">
                <div class="item">
                    <i class="user icon"></i>
                    <span>Profile</span>
                </div>
                <div class="item">
                    <i class="sign out icon"></i>
                    <span>Sign out</span>
                </div>
            </div>
        </div>

    </div>

</div>

<script type="text/javascript">

    $(document).ready(
        function () {

            $('.ui.search').search({
                source: [
                    {title: 'Andorra'},
                    {title: 'United Arab Emirates'},
                    {title: 'Afghanistan'},
                    {title: 'Antigua'},
                    {title: 'Anguilla'},
                    {title: 'Albania'},
                    {title: 'Armenia'},
                    {title: 'Netherlands Antilles'},
                    {title: 'Angola'},
                    {title: 'Argentina'},
                    {title: 'American Samoa'},
                    {title: 'Austria'},
                    {title: 'Australia'},
                    {title: 'Aruba'},
                    {title: 'Aland Islands'},
                    {title: 'Azerbaijan'},
                    {title: 'Bosnia'},
                    {title: 'Barbados'},
                    {title: 'Bangladesh'},
                    {title: 'Belgium'},
                    {title: 'Burkina Faso'},
                    {title: 'Bulgaria'},
                    {title: 'Bahrain'},
                    {title: 'Burundi'}]
            });

            $('#user_profile_menu').dropdown();
        }
    );

</script>