{% load moderation %}
<div class="item">
    <div class="content">
        <a class="header" href="{{ object.get_absolute_url }}">{{ object.content_object }}</a>
        <div class="meta">
            <span>
                {% include 'structure/includes/dates/created.html' %}
            </span>
            {% status_moderation %}
        </div>
        <div class="description">
            {{ object.text|safe }}
        </div>
        <div class="extra">
            {% link_to_moderation extra_button_class='primary right floated basic' %}
        </div>
    </div>
</div>