{% extends 'structure/base/container.html' %}
{% load static %}

{% block content %}
    <div class="ui stackable grid">

        <div class="row">

            <div class="left floated center aligned three wide column">
                <div class="ui basic fitted segment">
                    {% include 'profiles/avatar/detail.html' %}
                </div>
                <div class="ui basic fitted segment">
                    <div class="ui mini green statistic">
                        <div class="value">
                            +16136
                        </div>
                    </div>
                </div>
            </div>

            <div class="right floated left aligned thirteen wide column">

                <div class="ui basic fitted segment">

                    <div class="ui grid">
                        <div class="row">

                            <div class="twelve wide column">
                                <div class="ui basic fitted segment">
                                    <h2 class="ui header">{{ object.username }}</h2>
                                </div>
                            </div>

                            <div class="right aligned four wide column">
                                {% if is_auth_user %}
                                    <a class="ui primary icon button" href="{% url 'profile_settings' object.username %}">
                                        <i class="setting icon"></i>
                                    </a>
                                {% endif %}
                            </div>

                        </div>
                    </div>

                </div>

                <div class="row">
                    {% if object.name %}
                        <div class="ui basic fitted segment">
                            <div class="ui text">{{ object.name }}</div>
                        </div>
                    {% endif %}
                    {% if object.specialization %}
                        <div class="ui basic fitted segment">
                            <div class="ui text">{{ object.specialization }}</div>
                        </div>
                    {% endif %}
                    {% if object.description %}
                        <div class="ui basic fitted segment">
                            <div class="ui text">{{ object.description }}</div>
                        </div>
                    {% endif %}
                </div>

            </div>

        </div>

        <div class="row">
            <div class="column"
                 id="profile_tabs"
                 data-base-pathname-url="{{ base_pathname_url }}"
                 data-current-tab-path="{{ first_tab }}{% if second_tab %}/{{ second_tab }}{% endif %}"
            >

                {% include 'profiles/detail/tabs/stucture/base.html' %}

            </div>
        </div>

    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'profiles/js/detail.js' %}"></script>
{% endblock %}