{% extends 'structure/base/container.html' %}
{% load static %}

{% block content %}
{% include 'structure/includes/loader.html' %}
<div class="ui grid left floated text container"
     id="step_content"
     data-cur-url="{{ cur_url }}"
     data-cur-action="{{ cur_action }}"
>

    <div class="row">
        <div class="column">
            {% block step %}
                {% include 'blog/post/edit/forms/edit.html' %}
            {% endblock %}
        </div>
    </div>

    <div class="row">
        <div class="column">
            {% block actions %}
                {% include 'blog/post/edit/menu/edit.html' %}
            {% endblock %}
        </div>
    </div>

</div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'blog/post/js/write.js' %}"></script>
{% endblock %}