{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WhatYouKnow</title>

    {% include 'core/logo/tab.html' %}

    <link rel="stylesheet" type="text/css" href="{% static 'core/semantic/semantic.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/styles.css' %}"> <!-- Style setting -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.min.js" integrity="sha512-Fhm8fcAQhENO1HmU1JjbnNm6ReszFIiJvkHdnuGZBznaaM6vakH4YEPO7v8M3PbGR03R/dur0QP5vZ5s4YaN7w==" crossorigin="anonymous"></script>
    <script src="{% static 'core/semantic/semantic.min.js' %}"></script>

</head>
<body>

<div class="ui attached black inverted text menu">
    <div class="ui container">
        {% block menu %}
            {% include 'core/menu/main.html' %}
        {% endblock %}
    </div>
</div>

<div class="ui basic main segment">
    <div class="ui container">

        <div class="ui grid">

            <div class="row">
                <div class="column" id="roof">
                    {% block roof %}

                    {% endblock %}
                </div>
            </div>

            <div class="row">
                <div class="column" id="content">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>

            <div class="row">
                <div class="column" id="floor">
                    {% block floor %}

                    {% endblock %}
                </div>
            </div>

        </div>
    </div>

</div>

{% include 'core/footer.html' %}

<script type="text/javascript" src="{% static 'core/js/base.js' %}"></script>
{% block script %}
{% endblock %}

</body>
</html>