
{% extends 'core/layout.html' %}

{% load static %}

{% block menu %}
    {% include 'core/includes/menu.html' %}
{% endblock %}

{% block container %}

{#    <div class="ui twelve wide column">#}

        <div class="ui fitted horizontal basic segment" id="roof">
            {% block roof %}

            {% endblock %}
        </div>

        <div class="ui vertical basic segment" id="content">
            {% block content %}

            {% endblock %}
        </div>

        <div class="ui fitted horizontal basic segment" id="floor">
            {% block floor %}

            {% endblock %}
        </div>

{#    </div>#}

{#    <div class="ui four wide column">#}
{##}
{#        <div class="ui side segment">#}
{##}
{#            {% block rail %}#}
{##}
{#            {% endblock %}#}
{##}
{#        </div>#}
{##}
{#    </div>#}

{% endblock %}

{% block footer %}
    {% include 'core/includes/footer.html' %}
{% endblock %}

{% block base_scripts %}
<script type="text/javascript" src="{% static 'core/js/base.js' %}"></script>
    {% block script %}
    {% endblock %}
{% endblock %}
