{% extends 'core/base.html' %}

{% block roof %}

    <div class="ui primary secondary pointing menu">
        <a class="item">
            My choices
        </a>
        <a class="active item">
            All posts
        </a>

        {% for index, name in categories %}
            <a class="item">
                {{ name }}
            </a>
        {% endfor %}
    </div>

    <div class="ui tiny compact menu">
        <a class="item">
            Day
        </a>
        <a class="primary active item">
            Week
        </a>
        <a class="item">
            Month
        </a>
        <a class="item">
            Year
        </a>
    </div>

    <div class="ui tiny compact menu">
        <a class="primary active item">
            Any rating
        </a>
        <a class="item">
            <i class="grey greater than equal icon"></i>10
        </a>
        <a class="item">
            <i class="grey greater than equal icon"></i>25
        </a>
        <a class="item">
            <i class="grey greater than equal icon"></i>50
        </a>
        <a class="item">
            <i class="grey greater than equal icon"></i>75
        </a>
        <a class="item">
            <i class="grey greater than equal icon"></i>80
        </a>
        <a class="item">
            <i class="grey greater than equal icon"></i>90
        </a>
    </div>

{% endblock %}


{% block content %}

    <div class="ui three link cropped stackable cards">

        {% for object in object_list %}
            {% include 'blog/post/list/card.html' %}
        {% endfor %}

    </div>

{% endblock %}


{% block floor %}
    {% include 'core/pagination.html' %}
{% endblock %}
