<div class="item">
    <a class="image" href="{% url 'post_detail' post.pk %}">
        <img src="{{ post.feed_cover }}">
    </a>
    <div class="content">
        <a class="header" href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
        {#      <div class="meta">#}
        {#        <span>Description</span>#}
        {#      </div>#}
        <div class="description">
            {{ post.feed_article_preview }}
        </div>
        {#      <div class="extra">#}
        {#        Additional Details#}
        {#      </div>#}
    </div>
</div>