{% load comments thumbnail %}

{% if cur_action != 'preview' %}
    <a class="ui card" href="{% url 'post_detail' object.pk %}">
{% else %}
    <div class="ui card">
{% endif %}

    <div class="image">
        <img src="{{ object.feed_cover|thumbnail_url:'default' }}">
    </div>

    <div class="content">

        <div class="ui list">


            <div class="item">
                <div class="header">{{ object.title }}</div>
            </div>

            {% if object.feed_article_preview %}
            <div class="item">
                <span class="ui grey text">
                    {{ object.feed_article_preview|safe|truncatechars:100 }}
                </span>
            </div>
            {% endif %}

            <div class="right floated item">
                {% include 'profiles/avatar/author.html' %}
                <span class="ui black text">{{ object.user.username }}</span>
            </div>

        </div>

    </div>
    {% if cur_action != 'preview' %}
    <div class="extra">
        <div class="ui horizontal list">
            {% comment %} <div class="item">
                <span class="ui green text">
                    <i class="green plus icon"></i>
                133</span>
            </div>
            <div class="item">
                <i class="ui bookmark icon"></i>
                7
            </div> {% endcomment %}
            <div class="item">
                <i class="ui comments icon"></i>
                {% comments_count object %}
            </div>

        </div>
        <div class="right floated item">
            {% include 'structure/includes/dates/updated.html' %}
        </div>
    </div>
    {% endif %}


{% if cur_action != 'preview' %}
    </a>
{% else %}
    </div>
{% endif %}