
<div id="control_panel"
     class="ui basic fitted segment"
     data-base-posts-url="{{ base_posts_url }}"
     data-ajax-suffix="{{ ajax_suffix }}"
>

    <div class="ui primary secondary pointing menu" id="categories">
        {% for value in category_list %}
            <div class="item"
                 data-value="{{ value.short_name_lower }}"
            >
                {{ value.full_name }}
            </div>
        {% endfor %}
    </div>

    <select id="rating" class="compact">
        <option value="">Any rating</option>
        {% for index, name in rating_list %}
            <option value="{{ index }}">{{ name }}</option>
        {% endfor %}
    </select>

    <select id="period" class="compact">
        <option value="">All time</option>
        {% for index, name in period_list %}
            <option value="{{ index }}">{{ name }}</option>
        {% endfor %}
    </select>

</div>