
<div id="control_panel"
     class="ui basic fitted segment"
     data-base-pathname-url="{% url 'post_list_default'  %}"
     data-post-list-load-data-url="{% url 'post_list_load_data' %}"
     data-current-category="{{ cur_category }}"
>

    {% if category_list %}
    <div class="ui primary secondary pointing menu" id="categories">
        {% for value in category_list %}
            <div class="item"
                 data-value="{{ value.short_name_lower }}"
            >
                {{ value.full_name }}
            </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if rating_list %}
    <select id="rating" class="compact">
        <option value="">Any rating</option>
        {% for index, name in rating_list %}
            <option value="{{ index }}">{{ name }}</option>
        {% endfor %}
    </select>
    {% endif %}

    {% if period_list %}
    <select id="period" class="compact">
        <option value="">All time</option>
        {% for index, name in period_list %}
            <option value="{{ index }}">{{ name }}</option>
        {% endfor %}
    </select>
    {% endif %}

</div>