{% load static %}

<div class="ui vertically divided grid"
     id="info-comments"
     data-param-app-label="{{ obj.app_label }}"
     data-param-model-name="{{ obj.model_name }}"
     data-param-model-pk="{{ obj.model_pk }}"
     data-url-comment-list="{% url 'comment_list' %}"
>

    <div class="two column row">
        <div class="left aligned column">
            <h2 class="ui header">
                {% if comments_count > 1 %} {{ comments_count }} {% endif %} comment{{ comments_count|default_if_none:0|pluralize }}
            </h2>
        </div>
        <div class="right aligned column">
            {% include 'comments/buttons/add_comment.html' %}
        </div>
    </div>

    <div class="row" >

        <div class="column">
            <div class="ui threaded comments" id="comment-list-row" >
                <!-- this will embed html via ajax code -->
            </div>
            {% include 'structure/includes/loader.html' %}
        </div>
    </div>


</div>
<script type="text/javascript" src="{% static 'comments/js/comments.js' %}"></script>