{% load static %}

<div class="ui vertically divided grid"
     id="info-comments"
     data-param-app-label="{{ obj.app_label }}"
     data-param-model-name="{{ obj.model_name }}"
     data-param-model-pk="{{ obj.model_pk }}"
     data-url-comment-list="{% url 'comment_list' %}"
>

    <div class="row">
        <div class="column">
            <h2 class="ui header">
                {% if comments_count > 1 %} {{ comments_count }} {% endif %} comment{{ comments_count|default_if_none:0|pluralize }}
            </h2>
        </div>
    </div>

    <div class="row" >

        <div class="column">
            <div class="ui threaded comments" id="comment-list-row" >
                <!-- this will embed html via ajax code -->
            </div>
            {% include 'core/loader.html' %}
        </div>
    </div>


</div>

{#<script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.min.js"></script>#}
<script type="text/javascript" src="{% static 'comments/js/comments.js' %}"></script>