{% load core %}

<div class="comment" id="comment_{{ node.id }}" data-id="{{ node.id }}" {% if node.parent_id %}data-parent-id="{{ node.parent_id }}"{% endif %}>
    <a class="avatar">
        {% include 'profiles/avatar/comment.html' %}
    </a>
    <div class="content">
        <a class="author">
            {{ node.user.username }}
        </a>
        <div class="metadata">
            <a href="{{ node.get_absolute_url }}" class="href">
{#            <a name="#comment_{{ node.id }}" href="{{ node.get_absolute_url }}">#}
                <i class="grey linkify icon"></i>
            </a>
            <span>
                {{ node.created|datetime_format }}
                {% if node.created != node.updated %}
                    <span>(edited)</span>
                {% endif %}
            </span>
{#            <span>id - {{ node.id }}</span>#}
{#            <span>parent_id - {{ node.parent_id }}</span>#}
        </div>
        <div class="text">
            {{ node.text|safe }}
        </div>
        <div class="actions" >
            {% if user.is_authenticated %}
            <a class="reply" data-action-url="{% url 'comment_create'%}">
                Reply
            </a>
                {% if node.user == user %}
                    <a class="edit" data-action-url="{% url 'comment_edit' node.id %}">
                        Edit
                    </a>
                {% endif %}
            {% endif  %}
            <a class="like"><i class="thumbs up link icon"></i>13</a>
            <a class="dislike"><i class="thumbs down link icon"></i>2</a>
        </div>
    </div>
    {% if not node.is_leaf_node and children %}
        <div class="ui comments">
            {{ children }}
        </div>
    {% endif %}
</div>