{% load core %}

<div class="comment" id="comment_{{ node.id }}" data-node-id="{{ node.id }}" data-parent-id="{{ node.parent_id }}">
    <a class="avatar">
        {% include 'profiles/avatar/comment.html' %}
    </a>
    <div class="content">
        <a class="author">
            @{{ node.user.username }}
        </a>
        <div class="metadata">
            <a href="{{ node.get_absolute_url }}">
{#            <a name="#comment_{{ node.id }}" href="{{ node.get_absolute_url }}">#}
                <i class="grey linkify icon"></i>
            </a>
            <span>
{#                {{ node.date_posted|datetime_format }}#}
                {{ node.date_posted }}
                {% if node.is_edited %}
                    <span>(edited)</span>
                {% endif %}
            </span>
            <span>id - {{ node.id }}</span>
            <span>parent_id - {{ node.parent_id }}</span>
        </div>
        <div class="text">
            {{ node.text|safe }}
        </div>
        <div class="actions">
{#            {% if is_parent %}#}
{#                {% with count_answers=node.get_descendant_count %}#}
{#                    {% if count_answers %}#}
{#                        <a class="answers" data-is-show="false">#}
{#                            <span class="ui text">#}
{#                                Show {% if count_answers > 1 %} {{ count_answers }} {% endif %} answer{{ count_answers|pluralize }}#}
{#                            </span>#}
{#                            <i class="dropdown icon"></i>#}
{#                        </a>#}
{#                    {% endif %}#}
{#                {% endwith %}#}
{#            {% endif %}#}
            <a class="reply">
                Reply
            </a>
            <a class="edit">
                Edit
            </a>
            <a class="like"><i class="thumbs up link icon"></i>13</a>
            <a class="dislike"><i class="thumbs down link icon"></i>2</a>
        </div>
    </div>
    {% if not node.is_leaf_node %}
        <div class="ui comments">
            {{ children }}
        </div>
    {% endif %}
</div>