{% load core admin_urls %}

<div class="comment" id="comment_{{ node.id }}" data-id="{{ node.id }}" {% if node.parent_id %}data-parent-id="{{ node.parent_id }}"{% endif %}>
    {% if node.is_approved or node.user == user or user.is_superuser or user.is_staff %}
        <a class="avatar">
            {% include 'profiles/avatar/comment.html' %}
        </a>
        <div class="content">
            <a class="author">
                {{ node.user.username }}
            </a>
            <div class="metadata">
                <a href="{{ node.get_absolute_url }}" class="href">
                    <i class="grey linkify icon"></i>
                </a>
                {% if user.is_superuser or user.is_staff %}
                    <a href="{{ node.get_admin_url }}">
                        <i class="grey gavel icon"></i>
                    </a>
                {% endif %}
                <span>
                    {{ node.created|datetime_format }}
                    {% if node.created != node.updated %}
                        <span>(edited)</span>
                    {% endif %}
                </span>
                {% if node.user == user or user.is_superuser or user.is_staff %}
                    {% if node.is_pending %}
                        <span class="ui primary basic label">Pending</span>
                    {% endif %}
                    {% if node.is_draft %}
                        <span class="ui green basic label">Draft</span>
                    {% endif %}
                    {% if node.is_rejected %}
                        <span class="ui red basic label">Rejected</span>
                    {% endif %}
                {% endif%}
    {#            <span>id - {{ node.id }}</span>#}
    {#            <span>parent_id - {{ node.parent_id }}</span>#}
            </div>
            <div class="text">
                {{ node.text|safe }}
            </div>
            <div class="actions" >
                {% if user.is_authenticated %}
                <a class="reply" data-action-url="{% url 'comment_create'%}">
                    Reply
                </a>
                    {% if node.user == user %}
                        <a class="edit" data-action-url="{% url 'comment_edit' node.id %}">
                            Edit
                        </a>
                    {% endif %}
                {% endif  %}
                <a class="like"><i class="thumbs up link icon"></i>13</a>
                <a class="dislike"><i class="thumbs down link icon"></i>2</a>
            </div>
        </div>
    {% else %}
        <a class="avatar">
{#            {% include 'profiles/avatar/comment.html' %}#}
        </a>
        <div class="content">
            <div class="author">
            </div>
            <div class="metadata">
            </div>
            <div class="text">
                Comment deleted by moderator.
            </div>
            <div class="actions">
            </div>
        </div>
    {% endif %}
    {% if not node.is_leaf_node %}
        <div class="ui comments">
            {{ children }}
        </div>
    {% endif %}
</div>