{% if object.is_draft or object.is_pending or object.is_rejected or not object.published %}
    <span class="ui {% if object.is_draft %}green{% elif object.is_pending %}primary{% elif object.is_rejected or not object.published %}red{% endif %} basic label"
          data-content="{% if object.is_draft %}This {{ representation_object_name }} was saved as a draft.{% elif object.is_pending %}This {{ representation_object_name }} is pending moderation.{% elif object.is_rejected %}This {{ representation_object_name }} rejected by moderator.{% if object.reason %} Reason: {{ object.reason }}{% endif %}{% elif not object.published %}This {{ representation_object_name }} was removed from publication.{% if object.reason %} Reason: {{ object.reason }}{% endif %}{% endif %}"
          onmouseover="$(this).popup('show');"
          onmouseout="$(this).popup('hide');"
    >{% if object.is_draft %}Draft{% elif object.is_pending %}Pending{% elif object.is_rejected %}Rejected{% elif not object.published %}Not published{% endif %}</span>
{% endif %}